html {
  position: relative;
  min-height: 100%;
}
body {
    font-family: 'Courgette', cursive !important;
    margin-bottom: 75px !important;
}

/*    Header   */
.header {
    top: 0;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px #b4b8be solid;
    background-color: #fff;
    margin-bottom: 25px;
    background-color: #eee
}

.header .header-content{
    width: 33%;
    text-align: center;
    padding: 0 20px;
}

.header .header-content #username{
    padding-right: 20px;
}

.header .header-content #username > i{
    padding-right: 5px;
}

.header .header-content .decor_none {
    text-decoration: none;
}

div#loginModal > button.close {
    padding: 15px;
}

.header .header-content #loginModal .form-signin {
    max-width: 330px;
    padding: 30px 15px 0 15px;
    margin: 0 auto;
}

.header .header-content #loginModal .form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.header .header-content #loginModal .form-signin .checkbox {
    font-weight: normal;
}

.header .header-content #loginModal .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.header .header-content #loginModal .form-signin .form-control:focus {
    z-index: 2;
}

.header .header-content #loginModal .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.header .header-content #loginModal .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header .header-content #loginModal .registration{
    margin: auto;
    max-width: 330px;
    width: 300px;
    text-align: left;
}

.header .header-content #loginModal .registration > a{
    color: #333333;
    
}

/* ---------------------------------------- */



/*    Footer    */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    border-top: 1px #b4b8be solid;
    background-color: #eee
}

.footer .footer-text {
    width: auto;
    max-width: 680px;
    margin: auto;
}

.footer .footer-text ul {
    padding: 0;
    text-align: center;
    margin-bottom: 0px;
}

.footer .footer-text .footer-links li {
    display: inline;
    padding: 0 2px;
}
/* ----------------------------------------- */