.errorSummary > ul{
    display: flex;
    margin-bottom: 0;
}
.errorSummary > ul > li{
    padding-right: 35px;
    margin-left: -5px;
}
.title {
    padding-bottom: 16px;
}
.endline{
    border-bottom: 1px #337ab7 solid;
}
#button{
    margin: 10px 0;
}