.errorSummary > ul{
    display: flex;
    margin-bottom: 0;
}
.errorSummary > ul > li{
    padding-right: 35px;
    margin-left: -5px;
}
.title {
    font-size: 26px;
    font-weight: 700;
    color: #277EC4;
    padding: 10px 0;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px #eaebeb solid;
}
#reg_content{
    text-align: center;
}
.endline{
    border-bottom: 1px #DDD solid;
}
#button{
    margin: 10px 0;
}